.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;

  h1{
    font-size: 45px;
    font-family: 'Bitter', serif;

  };

  h2{
    font-size: 30px;
  };

  &__btns-btn{
    font-weight:bold;
    width: 200px;
    height: 60px;

    margin: 40px;
    padding: 10px;

    border: 1px solid black;
    box-shadow: 0 4px #999;

    background-color: #fbeee0;

    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    border-radius: 30px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  };

  &__btns-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  };

  &__btns-btn:focus{
    color: rgb(185, 52, 52);
  }

};


@media only screen and (max-width: 600px) {

  .App{
    h1{
      font-size: 30px;
    };

    h2{
      font-size: 20px;
    };

    &__eduExp{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

      &__btns{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;

        &-btn{
        width: 120px;
        height: 60px;

        font-size: 10px;
        font-weight: 700;
        margin: 30px;
        }

      }

  }

}