@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Oswald:wght@600&family=Roboto:wght@300&display=swap');

html{
background-size: contain;

animation: scroll 150s linear infinite;
animation-direction: reverse;
background: url('../src/assets/grainy-background-trans.png');
opacity: 95%;
}

@keyframes scroll {
  100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  html {
    animation: scroll 200s linear infinite;
  }
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


